<div class="row">
    <div class="col s8">
        <div class="input-field">
            <input id="txtCep" type="text" ng-model="cep" maxlength="8" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            <label for="txtCep">Type Cep</label>
        </div>
        <a class="waves-effect waves-light btn" ng-click="CallCep()"><i class="material-icons left">cloud</i>CALL CEP</a>
        <a class="waves-effect waves-light btn" ng-click="CallTest()"><i class="material-icons left">cloud</i>CALL TEST</a>
    </div>
</div>
<div class="row" ng-show="showResult">
    <div class="row">
        <div class="card-panel">
            <span>
                {{returnTest}}
            </span>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
    });
</script>